
#home {
    margin-top: 50px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-pic {
    width: 50%;
    height: 25%;
    max-height: 900px;
    position: relative;
    right: -100px;
    
}

#home-img {
    margin-right: -200px;
}

#login {
    background-color: white;
    max-width: 25%;
    position: relative;
    left: -100px;
}

.navbar-brand{
    font-size: 12px;
    display: flex !important;
    justify-content: center;
    align-items: baseline;
    
}

#form-text {
    font-weight: 600 !important;
    line-height: 20px !important;
    font-size: 14px !important;
    margin: 0 40px 10px !important;
    color: #999;
    text-align: center;
}

#Instagram {
    margin: 22px auto 12px;
    display: flex;
    justify-content: center;
}

#fb-login{
    background-color: #3897F0;
    color: white;
    border: 1px solid #3897f0;
    border-radius: 4px;
    padding: 5px 9px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#line {
    width: 100%;
    margin-top: .78rem;
    margin-bottom: 1rem;
    margin-right: 5px;
    margin-left: 5px;
    
}

#break {
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgb(190, 190, 190);
}


#text-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-left: 40px;
    margin-right: 40px;
}

input {
    margin: 5px;
    border: 1px solid #efefef;
    background: #fafafa;
    font-size: 12px !important;
    color: #999;
    width: 100%;
    height: 36px;
    left: 8px;
    padding: 10px;

}

#buttons {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif !important;
    background-color: #f3f3f3 !important;
}

a {
    color: black;
}

.portfolio {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 300px;
    margin-right: 300px;
  }
  
  .image img {
    width: 100%;
    height: 100%;
  }

  #explore-title {
    margin-left: 300px;
    margin-right: 300px;  
    font-size: 16px;
    color: #999
}

#search-bar {
    position: relative;
    left: 500px;
}

#my-nav {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif !important;
    background-color: white;
}

.feed {
    display: grid;
    grid-template: auto auto auto auto auto / 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 400px;
    margin-right: 400px;
}

#profile-header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

#username{
    flex-shrink: 1;
}

#profile-pic {
    width: 200px;
    height: 200px;
}

#edit-profile {

}
